* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 800; 
    font-weight: 600;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 60px;
}

.logo img {
    width: 200px; 
    height: auto; 
}

.login-button {
    display: inline-block;
    padding: 10px 20px; 
    background: linear-gradient(to right, #2c5870, #669bb7); 
    color: #fff; 
    border: none;
    border-radius: 20px; 
    text-decoration: none; 
    cursor: pointer;
    margin-left: 150px;
}
.login-button:hover {
    transform: translateY(-3px); 
    box-shadow: 0px 6px 3px rgba(30, 62, 81, 0.8) 
}
.menu ul {
    list-style-type: none;
    text-align: right;
}

.menu ul li {
    display: inline-block;
    margin-left: 20px;
}

.menu ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.3rem;
}

.menu ul li a:hover {
    color: #cf8145;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e1dfdf;
    min-width: 190px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/*Footer*/
.containerfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #234555;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.footer-section {
    flex: 1;
    margin-right: 5px;
    margin-bottom: 0px; 
}

.footer-section h2 {
    color: #EEC343;
    text-align: left;
    margin-bottom: 10px; 
}

.footer-section p {
    text-align: justify;
    margin-bottom: 20px; 
}

.logo-section {
    margin-bottom: 20px; 
    margin-left: -60px;
}

.logo-section img {
    width: 180px;
    margin-bottom: 7px;
}

.social-links {
    margin-bottom: 20px; 
}

.social-links a {
    color: white;
    margin-right: 10px; 
    padding: 5px;
    font-size: 20px;
}

.social-links a:hover {
    color: #aaa;
}
.contact-section {
    flex: 1; 
    text-align: right; 
    margin-bottom: 20px; 
}

.contact-section h2 {
    color: #EEC343;
    text-align: right; 
    margin-bottom: 10px;
}

.contact-section p {
    text-align: right; 
    margin-bottom: 10px; 
}
.payment-partners {
    display: flex; 
    justify-content: flex-end; 
}

.payment-partners img {
    width: 80px; 
    height: auto;
    margin-right: 10px; 
}

.copyright{
 
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
}
