<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneByte Foods</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
     <!--Nav Bar-->
    <nav>
        <div class="container">
            <div class="logo">
                <img src="/static/Images/Logo.png" alt="OneByte Foods Logo">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="menu">Menu</a></li>
                    <li><a href="events">Events</a></li>
                    <li><a href="reservation">Reservations</a></li>
                    <li><a href="gallery">Gallery</a></li>
                    <li><a href="authentication/signin" class="login-button" style="color: #ffffff;">LOGIN</a></li> 
                </ul>
            </div>
        </div>
    </nav>

    <!--Slider-->
    <div class="empty">
            <img src="/static/Images/dashboard_images/1.jpg">
            <img src="/static/Images/dashboard_images/2 (2).jpg">
            <img src="/static/Images/dashboard_images/21.jpg">
            <img src="/static/Images/dashboard_images/4.jpg">
    </div>
</div>
<div class="book-table">
    <a href="Reservation.html" class="book-btn">Reserve Now</a>
</div>

<div class="card">
    <div class="card-image">
        <img src="/static/Images/dashboard_images/Dining Hall.jpg" alt="About Us Image">
    </div>
    <div class="card-description">
        <h3><span style="color: #32657C;">OUR</span> <span style="color: #669BB7; ">STORY</span></h3>
        <p>Welcome to OneByte Foods, where culinary excellence meets technological innovation. Situated in the heart of Kathmandu city, OneByte Foods is not just a restaurant; it's a testament to our passion for great food and seamless dining experiences.<br>
            Founded with a vision to merge the rich flavors of Nepali cuisine with modern dining conveniences, OneByte Foods was born out of a desire to elevate your dining experience. What started as a humble endeavor has now blossomed into a premier dining destination, beloved by locals and visitors alike. <br> 
            At OneByte Foods, we understand the importance of creating memorable moments around the dining table. That's why we've embarked on a journey to revolutionize the way you experience dining with our cutting-edge dine-in booking system and efficient management tools.</p>
    </div>
</div>

<section class="chef" style="background-image: url('/static/Images/dashboard_images/bg1.png'); background-size: cover;  color: white; padding: 20px; text-align: center; width: 100%; height: 150px"></section>
        <h2 class="heading1">Chef's Message</h2>
        <p class="paragraph">Welcome to our restaurant! We strive to provide you with the most delightful culinary experience. Our team of chefs puts their heart and soul into every dish, ensuring each bite is filled with flavor and satisfaction.</p>
</section>

<h2 class="heading">Customer's Reviews</h2>
<section class="review" id="review">
    <div class="reviews-slider">
    <div class="review-box-container">
        <div class="box">
            <p>"Absolutely delicious! The flavors were outstanding, and the presentation was top-notch. I can't wait to come back!"</p>
            <p1><strong>-Emily S.</strong></p1>
        </div>
        <div class="box">
            <p>"An unforgettable dining experience! Every dish was a masterpiece, and the service was impeccable. Highly recommended!"</p>
            <p1><strong>-Mark R.</strong></p1>
        </div>
        <div class="box">
            <p>"This restaurant exceeded my expectations! From the ambiance to the food quality, everything was exceptional. "</p>
            <p1><strong>-Sarah M.</strong></p1>
        </div>
    </div>
    </div>
    </section>

<footer style="background-image: url('/static/Images/Footer.png'); background-size: cover; background-position: center; background-repeat: no-repeat; color: white;">
    <div class="containerfooter">
        <div class="footer-section">
            <div class="logo-section">
                <img src="/static/images/logo.png" alt="OneByte Foods Logo">
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-section">
            <h2>About Us</h2>
            <p>
                At OneByte Foods, we understand the importance of creating memorable moments around the dining table. That's why we've embarked on a journey to revolutionize the way you experience dining with our cutting-edge dine-in booking system and efficient management tools.</p>
            
        </div>
        <div class="footer-section contact-section">
            <h2>Contact Information</h2>
            <p>Lazimpat, Kathmandu</p>
            <p>Phone: +9867976546</p>
            <h2>Payment Partners</h2>
            <div class="payment-partners">
                <a href="https://esewa.com.np"><img src="/static/Images/esewa.png" alt="eSewa"></a>
                <a href="https://khalti.com"><img src="/static/Images/khalti.png" alt="Khalti"></a>
            </div>
            
        </div>
      
    </div>
    <p class="copyright">&copy; 2024 OneByte Foods. All Rights Reserved.</p>
</footer>
<script src="/static/js/dashboard.js"></script>

</body>
</html>
