<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food menu</title>
    <link rel="stylesheet" href="/static/css/menu.css">
</head>
<body>
    <div class="heading">
        <h1>FOOD MENU</h1>
    </div>
    <div class="menu">
        <div class="food-items">
            <img src="/static/Images/menu_images/burger.jpg">
            <div clss="details">
                <div class="details2">
                    <h1>Smoked Hamburger</h1>
                    <h5 class="price">Rs 465</h5>
                </div>
                <p>Burger with smokey grilled chicken patty with cheese </p>
                <button>Add</button>
            </div>
        </div>

        <div class="food-items">
            <img src="/static/Images/menu_images/chicken.jpg">
            <div clss="details">
                <div class="details2">
                    <h1>Honey Garlic Chicken </h1>
                    <h5 class="price">Rs 575</h5>
                </div>
                <p>Chicken tossed in honey and garlic sauce</p>
                <button>Add</button>
            </div>
        </div>

        <div class="food-items">
            <img src="/static/Images/menu_images/hawaian.jpg">
            <div clss="details">
                <div class="details2">
                    <h1>Hawaiian Pizza </h1>
                    <h5 class="price">Rs 900</h5>
                </div>
                <p>Pizza topped with vegetables and pineapple </p>
                <button>Add</button>
            </div>
        </div>

        <div class="food-items">
            <img src="/static/Images/menu_images/spicy.jpg">
            <div clss="details">
                <div class="details2">
                    <h1>Spicy Chicken Wings </h1>
                    <h5 class="price">Rs 750</h5>
                </div>
                <p>Chicken wings tossed in hot and spicy sauce</p>
                <button>Add</button>
            </div>
        </div>

        <div class="food-items">
            <img src="/static/Images/menu_images/penne.jpg">
            <div clss="details">
                <div class="details2">
                    <h1>Creamy Garlic penne pasta</h1>
                    <h5 class="price">Rs 350</h5>
                </div>
                <p>Penne pasta with creamy garlic cheese sauce </p>
                <button>Add</button>
            </div>
        </div>

        <div class="food-items">
            <img src="/static/Images/menu_images/Spaghetti.jpg">
            <div clss="details">
                <div class="details2">
                    <h1>chicken meatball spaghetti</h1>
                    <h5 class="price">Rs 450</h5>
                </div>
                <p>Spaghetti with red sauce and chicken meat balls  </p>
                <button>Add</button>
            </div>
        </div>

        <div class="food-items">
            <img src="/static/Images/menu_images/momo.jpg">
            <div clss="details">
                <div class="details2">
                    <h1>Chicken MOMO</h1>
                    <h5 class="price">Rs 250</h5>
                </div>
                <p>Dumplings filled with juicy chicken stuffings</p>
                <button>Add</button>
            </div>
        </div>

        <div class="food-items">
            <img src="/static/Images/menu_images/fries.jpg">
            <div clss="details">
                <div class="details2">
                    <h1>Chicken Cheesy Fries</h1>
                    <h5 class="price">Rs 300</h5>
                </div>
                <p>French fries loaded with chicken and cheese </p>
                <button>Add</button>
            </div>
        </div>

        <div class="food-items">
            <img src="/static/Images/menu_images/garlic.jpg">
            <div clss="details">
                <div class="details2">
                    <h1>Garlic Bread</h1>
                    <h5 class="price">Rs 200</h5>
                </div>
                <p>Bread toasted in garlic butter</p>
                <button>Add</button>
            </div>
        </div>
    </div>
</body>
</html>